---
const tagColors = [
  "bg-purple-200 dark:bg-blue-600",
  "bg-green-200 dark:bg-green-600",
  "bg-yellow-200 dark:bg-yellow-600",
  "bg-red-200 dark:bg-red-600",
  "bg-blue-200 dark:bg-blue-600",
  "bg-indigo-200 dark:bg-indigo-600",
  "bg-pink-200 dark:bg-pink-600",
];

type Project = {
  name: string;
  image: string;
  url: string;
  description: string;
  technologies: string[];
  github: string;
  date: string;
};

const content: Project = Astro.props.content;
const { name, image, description, technologies, url, github, date } = content;
---

<!--
  This component uses @tailwindcss/line-clamp

  yarn add @tailwindcss/line-clamp
  npm install @tailwindcss/line-clamp

  plugins: [require('@tailwindcss/line-clamp')]
-->
<article
  class="overflow-hidden rounded-xl bg-gradient-to-tr from-violet-400 via-indigo-500 to-sky-400 bg-[length:400%_400%] p-0.5 shadow-lg hover:shadow-sm dark:shadow-gray-700/25">
  <a href={url} target="_blank" class="rounded-b-[10px]">
    {
      image === "" ? (
        <div class=" flex h-56 w-full flex-col items-center justify-center rounded-t-[10px] bg-purple-200 object-cover text-center duration-150 hover:bg-purple-100 hover:transition-all hover:duration-150 dark:bg-purple-700 hover:dark:bg-purple-800">
          <p class=" my-auto overflow-hidden p-2 text-[3rem] font-extrabold leading-snug text-violet-400 dark:text-violet-500 sm:text-[4rem] md:text-violet-300">
            {name}
          </p>
        </div>
      ) : (
        <img
          alt={name}
          src={image}
          class="h-56 w-full rounded-t-[10px] object-cover duration-150 hover:transition-all hover:duration-150"
        />
      )
    }

    <div class="rounded-b-[10px] bg-white p-4 dark:bg-gray-800 sm:p-6">
      <time
        datetime="2022-10-10"
        class="block text-xs text-gray-500 dark:text-gray-400">
        {
          new Date(date).toLocaleDateString("en-US", {
            year: "numeric",
            month: "long",
            day: "numeric",
          })
        }
      </time>

      <p
        class="mt-1 text-lg font-semibold uppercase leading-tight text-indigo-600 underline dark:text-indigo-400 md:no-underline">
        {name}
      </p>

      <p
        class="mt-2 text-sm leading-relaxed text-gray-500 line-clamp-3 dark:text-gray-400">
        {description}
      </p>
      <div class="mt-2 flex w-full items-center justify-between">
        <div class="flex flex-wrap gap-2 pr-2">
          {
            technologies.map((tag, idx) => {
              return (
                <span
                  class={
                    tagColors[idx] +
                    "inline-block rounded-full px-3 py-1 font-mono text-sm font-medium text-gray-800"
                  }>
                  {tag}
                </span>
              );
            })
          }
        </div>

        <a href={github} target="_blank" title="GitHub Link">
          <ion-icon
            name="logo-github"
            class="h-8 w-8 text-black hover:scale-105 hover:cursor-pointer hover:text-sky-900 dark:text-white hover:dark:text-sky-200">
          </ion-icon>
        </a>
      </div>
    </div>
  </a>
</article>
